.bordered {	
	border: 1px !important;
	border-color: white !important;
	border-style: solid !important;
}

body {
	font-family: Futura;
	margin: 0px;
	overflow: hidden;
}

th {
	font-size: 1em;
}

.data {
	font-family: monospace;
	font-size: 1.5em;
}

.icon-bar {
	width: 5%;
	position: absolute;
	top: 10px;
	right: 10px;
	font-size: 1.5em;
	height: calc(66% - 10px);

}

.stacked {
	font-size: 0.5em;
	text-shadow:
	-1px -1px 0 #121212,  
	 1px -1px 0 #121212,
	 -1px 1px 0 #121212,
	  1px 1px 0 #121212;
}

.icon-bar i {
	display: block;
	text-align: right;
	/*padding: 1em; */
	transition: all 0.3s ease;
}

#console {
	display: flex;
	flex-direction: column-reverse;
	height: calc(33% - 10px);
	overflow: scroll;
	font-family: monospace;
	font-size: 0.66em;
	flex-wrap: wrap;
	width: calc(33% - 10px);
	position: absolute;
	bottom: 10px;
	left: 10px;
	pointer-events: none;
}

#dialogue {
	position: fixed; 
	bottom: 50%; 
	left: 50%; 
	transform: translate(-50%,-50%); 
	padding: 5px;
	display: none;
	text-align: center;
	z-index: 101;
}

#dialogue_prompt {
	text-align: left;
}

#info {
	position: absolute;
	top: 10px;
	left: 10px;
	width: calc(45% - 10px);
	height: calc(66% - 10px);
	text-align: left;
	z-index: 100;
	display: block;
	transition: all 0.3s ease;
	/* pointer-events: none; */
}

.item{
	width:100px;
}

td{
	/* padding-right:10px; */
}

#chart-container {
	position: absolute;
	bottom: 20px;
	right: 10px;
	height: calc(33% - 0px) !important;
	width: calc(66% - 10px) !important;
	z-index: 100;
	pointer-events: none;
}

#chart-silhouette {
	position: absolute;
	bottom: 10px;
	right: 10px;
	height: calc(33% - 10px) !important;
	width: calc(66% - 5px) !important;
	z-index: 100;
	pointer-events: none;
}

#accel-chart-container {
	position: absolute;
	bottom: 10px;
	left: 10px;
	/* height: 25%;
	width: 50%; */
	z-index: 100;
	pointer-events: none;
}

#vel-chart-container {
	position: absolute;
	bottom: 155px;
	left: 10px;
	/* height: 25%;
	width: 50%; */
	z-index: 100;
	pointer-events: none;
}

#chart {
	height: 100%;
	/* height: calc(33% + 10px); */
	/* width: calc(50% + 10px); */
}

.time-value {
	float: left;
}

#time-axis {
	display: block;
	position: absolute;
	bottom: 10px;
	right: 10px;
	font-size: 0.5em;
	z-index: 102;
}

.tooltip {
	position: relative;
	display: inline-block;
}

.icon-bar .tooltip .tooltiptext {
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s 0.3s, opacity 0.3s ease;
	text-align: right;
	position: absolute;
	z-index: 1;
	top: 25%;
	right: 50%;
	white-space: nowrap;
	font-size: 0.5em;
}

.icon-bar .tooltip:hover .tooltiptext {
	visibility: visible;
	font-size: 0.5em;
	opacity: 1;
	transition: opacity 0.3s ease;
}


#info .tooltip .tooltiptext {
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s 0.5s, opacity 0.5s ease;
	text-align: center;
	position: absolute;
	z-index: 1;
	top: -30%;
	left: 0%;
	white-space: nowrap;
	font-size: 0.3em;
}

#info .tooltip:hover .tooltiptext {
	visibility: visible;
	font-size: 0.3em;
	opacity: 1;
	transition: opacity 0.5s ease;
	/* border-radius:5px; */
	background:#000;
}

.mdi-stop-circle {
	animation: Pulsate 1s linear infinite;
}

@keyframes Pulsate {
	from {
		opacity: 1;
	}

	50% {
		opacity: 0.25;
	}

	to {
		opacity: 1;
	}
}
